body, html {
  margin: 0;
  padding: 0;
  color: #000;
  background: [% site.col.foot %];
}

#wrapper {
  width: 100%;
  margin: 0 auto;
}

#header {
  padding: 5px 10px;
  background: [% site.col.head %];
  border-bottom: 1px solid [% site.col.line %];
}
#header p {
  text-align: center;
}

#sitename p {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

#loggedin p {
  float: left;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0 0 1em;
}

#nav {
  padding: 5px 10px;
  background: [% site.col.head %];
  text-align: center;
  border-bottom: 1px solid [% site.col.line %];
}
#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav li {
  display: inline;
  margin: 0;
  padding: 0;
}

#main {
  float: right;
  width: 85%;
  padding: 10px;
  background: [% site.col.main %];
}

#sidebar {
  float: left;
  width: 125px;
  padding: 10px;
  background: [% site.col.foot %];
}
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
#nav li {
  display: inline;
  margin: 0;
  padding: 0;
}
*/
#footer {
  clear: both;
  padding: 5px 10px;
  background: [% site.col.head %];
  border-top: 1px solid [% site.col.line %];
}
#footer p {
  text-align: center;
  margin: 0;
}
/*
#footer img {
  float: right;
}
*/
