	[% type = 1; 
	PROCESS datarequest/requestType.tt2 %]

	[% PROCESS datarequest/requestType2.tt2 %]

	[% PROCESS datarequest/requestType3.tt2 %]

	[% PROCESS datarequest/requestType4.tt2 %]

	[% PROCESS datarequest/requestType5.tt2 %]

	[% PROCESS datarequest/requestType6.tt2 %]


