	[% type = 1; 
		PROCESS datarequest/requestType.tt2 %]

	[% type = 2; 
		PROCESS datarequest/requestType.tt2 %]

	[% type = 3; 
		PROCESS datarequest/requestType.tt2 %]

	[% type = 4; 
		PROCESS datarequest/requestType.tt2 %]

	[% type = 5; 
		PROCESS datarequest/requestType.tt2 %]

	[% type = 6; 
		PROCESS datarequest/requestType.tt2 %]


