
	  <div class="form-group" ng-show="ctrl.data.identifiable[% type %] == 1">
<label>Please select all identifiers required:</label>
<input type="checkbox" name="identifiers[% type %]" ng-checked="ctrl.data.identifiers.ptName" value="ptName">Patient Name</input>
<input type="checkbox" name="identifiers[% type %]" ng-checked="ctrl.data.identifiers.dob" value="dob">Patient Date of Birth</input>
<input type="checkbox" name="identifiers[% type %]" ng-checked="ctrl.data.identifiers.addr" value="addr">Patient Address</input>
<input type="checkbox" name="identifiers[% type %]" ng-checked="ctrl.data.identifiers.ptNumber" value="ptNumber">Patient Hospital Number</input>
<input type="checkbox" name="identifiers[% type %]" ng-checked="ctrl.data.identifiers.nhsNumber" value="nhsNumber">Patient NHS Number</input>
	  </div><!-- end form-group -->
