[% META title = 'Database Schemas' -%]
<table>
  <tr>
    <th>Server Name</th>
    <th>Database Schema</th>
    <th>Links</th>
    <th>Description</th></tr>
[% FOREACH schema IN schemas -%]
  <tr>
    <td>[% schema.database.system.name %]</td>
    <td>[% schema.database.name %].[% schema.name %]</td>
    <td><a href="[% c.uri_for(c.controller('Tables').action_for('list_tables'), [schema.id]) %]">List Tables</a></td>
    <td>[% schema.description %]</td>
  </tr>
[% END -%]
</table>
